/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 6, 2016, 5:11:50 PM
    Author     : rubel_000
*/

.off100 {
    margin-top: 60px;
}

.paging {
    padding: 10px;
}

a.selected{
    text-decoration: none;
    font-weight: bold;
    color: #000;
    
}

ul li  ul {
    display: none;
}

li:hover > ul {
    display: inline !important;
   
}

li:hover > ul li {
     margin-left: 20px;
}